<html lang="en">
<%- include("./mainParts/head.ejs") %>

<body>
  <%- include("./mainParts/nav.ejs") %>

  <div class="text-center p-3 m-3 fs-1 text-uppercase">
    404 Page Not Found
  </div>

  <%- include("./mainParts/closed.ejs") %>

</html>